<%-include('header')%>
<div class="row">
  <div class="layui-col-md6" style="font-size:20px;font-weight:700">新增奖项</div>
  <div class="layui-col-md6">
    <span class="layui-breadcrumb" style="float:right">
      <a href="">奖项管理</a>
      <a>
        <cite>新增奖项</cite>
      </a>
    </span>
  </div>
  <div class="layui-col-md10">
   <form class="layui-form" id="newdepartment" style="margin:20px" method="post" enctype="multipart/form-data">
    <blockquote class="layui-elem-quote">新增部门/职位</blockquote>
    <div class="layui-form-item">
      <label class="layui-form-label">部门</label>
      <div class="layui-input-block">
        <input class="layui-input" id="department" name="department" type="text" placeholder="department" />
      </div>
    </div>
    <div class="layui-form-item">
      <div class="layui-input-block">
        <input class="layui-btn" id="dept_submit" type="button" value="添加">
      </div>
    </div>
  </form>
  <form class="layui-form" id="newposition" style="margin:20px" method="post" enctype="multipart/form-data">
    <div class="layui-form-item">
      <label class="layui-form-label">职位</label>
      <div class="layui-input-block">
        <input class="layui-input" id="position" name="job" type="text" placeholder="job" />
      </div>
    </div>
    <div class="layui-form-item">
      <div class="layui-input-block">
        <input class="layui-btn" id="job_submit" type="button" value="添加">
      </div>
    </div>
  </form>
</div>
</div>
<div class="layui-col-md10">
  <div style="margin:20px">
    <blockquote class="layui-elem-quote">所有部门/职位</blockquote>
    <table class="layui-table" >
      <colgroup>
        <col width="200">
        <col width="150">
        <col width="200">
        <col width="150">
      </colgroup>
      <thead>
        <tr>
          <th>部门</th>
          <th>操作</th>
          <th>职位</th>
          <th>操作</th>
        </tr> 
      </thead>

      <%if(departments.length>jobs.length){%>
        <%for(var i=0;i<jobs.length;i++){%>
          <tbody>
            <tr>
              <th><%=departments[i].name%></th>
              <th>
                <button class="layui-btn dept_edit" data-name="<%=departments[i].name%>" data-dept_id="<%=departments[i].dept_id%>">编辑</button>
                <button class="layui-btn layui-btn-danger dept_dele" data-dept_id="<%=departments[i].dept_id%>">删除</button>
              </th>
              <%if(i<jobs.length){%>
                <th><%=jobs[i].name%></th>
                <th>
                  <button class="layui-btn job_edit" data-name="<%=jobs[i].name%>" data-job_id="<%=jobs[i].job_id%>">编辑</button>
                  <button class="layui-btn layui-btn-danger job_dele" data-job_id="<%=jobs[i].job_id%>">删除</button>
                </th>
              <%}else{%>
                <th></th>
                <th></th>
              <%}%>
            </tr> 
          </tbody>
        <%}%>
      <%}else{%>
        <%for(var i=0;i<jobs.length;i++){%>
          <tbody>
            <tr>
              <%if(i<departments.length){%>
                <th><%=departments[i].name%></th>
                <th>
                  <button class="layui-btn dept_edit" data-name="<%=departments[i].name%>" data-dept_id="<%=departments[i].dept_id%>">编辑</button>
                  <button class="layui-btn layui-btn-danger dept_dele" data-dept_id="<%=departments[i].dept_id%>">删除</button>
                </th>
              <%}else{%>
                <th></th>
                <th></th>
              <%}%>
              <th><%=jobs[i].name%></th>     
              <th>
                <button class="layui-btn job_edit" data-name="<%=jobs[i].name%>" data-job_id="<%=jobs[i].job_id%>">编辑</button>
                <button class="layui-btn layui-btn-danger job_dele" data-job_id="<%=jobs[i].job_id%>">删除</button>
              </th>         
            </tr> 
          </tbody>
        <%}%>
      <%}%>
    </table>
  </div>
</div>

<script type="text/javascript" src="/libs/jquery/dist/jquery.min.js"></script>
<script src="/libs/layui/layui.all.js"></script>
<script type="text/javascript" src="/javascripts/manage.js"></script>
<%-include('footer')%>