<%-include('header')%>
  <div class="row">
    <div class="layui-col-md6" style="font-size:20px;font-weight:700">
      新增人员
    </div>
    <div class="layui-col-md6">
      <span class="layui-breadcrumb" style="float:right">
        <a href="">人员管理</a>
        <a>
          <cite>新增人员</cite>
        </a>
      </span>
    </div>
    <div class="layui-col-md10">
      <form class="layui-form" id="newPerson" style="margin:20px 0" method="post" enctype="multipart/form-data">
        <div class="layui-form-item">
          <label class="layui-form-label">警员编号</label>
          <div class="layui-input-block">
            <input class="layui-input" id="per_id" name="per_id" type="text" placeholder="请输入警号" />
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">姓名</label>
          <div class="layui-input-block">
            <input class="layui-input" id="per_name" name="per_name" type="text" placeholder="请输入姓名" />
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">性别</label>
          <div class="layui-input-block">
            <select id="per_gender" name="per_gender">
              <option value="" selected="selected">未选择</option>
              <option value="男">男</option>
              <option value="女">女</option>
              <option value="保密">保密</option>
            </select>
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">部门</label>
          <div class="layui-input-block">
            <select id="per_department" name="per_department">
              <option selected value="">未选择</option>
              <%departments.forEach(function(department){%>
                <option value="<%=department.post%>">
                  <%=department.post%>
                </option>
                <%})%>
            </select>
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">职务</label>
          <div class="layui-input-block">
            <select id="per_position" name="per_position">
              <option selected value="">未选择</option>
              <%positions.forEach(function(position){%>
                <option value="<%=position.job%>">
                  <%=position.job%>
                </option>
                <%})%>
            </select>
          </div>
        </div>
        <div class="layui-form-item">
          <div class="layui-input-block">
            <input type="file" name="photo" id="photo" style="display:none">
            <button type="button" class="layui-btn layui-btn-primary" onclick="F_Open_dialog()">选择照片</button>
          </div>
        </div>
        <div class="layui-form-item">
          <div class="layui-input-block">
            <img src="" id="deal" width="200px">
          </div>
        </div>
        <div class="layui-form-item">
          <div class="layui-input-block">
            <input class="layui-btn" id="submit" type="button" value="提交">
          </div>
        </div>
      </form>
    </div>
    <script type="text/javascript" src="/libs/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../javascripts/exif.js"></script>
    <script>
      function F_Open_dialog() {
        document.getElementById("photo").click();
      }
      let baseImg = '';
      let maxSize = 500 * 1024; //最大图片质量200kb
      //图片选择事件
      let inputPhoto = document.getElementById("photo");

      inputPhoto.onchange = function () {
        let file = this.files[0];
        console.log('原文件大小', file.size);
        minSize(file);
      }
      //压缩函数
      function minSize(file) {
        //此方法为file input元素的change事件
        //var file = this.files[0];
        var orientation;
        //EXIF js 可以读取图片的元信息 https://github.com/exif-js/exif-js
        EXIF.getData(file, function () {
          orientation = EXIF.getTag(this, 'Orientation');
        });
        var reader = new FileReader();
        reader.onload = function (e) {
          getImgData(this.result, orientation, function (data) {
            //这里可以使用校正后的图片data了
            deal.src = data;
            baseImg = data;
          });
        }
        reader.readAsDataURL(file);
      }
      // ajax异步提交表单
      let inputSubmit = document.getElementById("submit");
      inputSubmit.onclick = function () { // 事件监听
        let formData = new FormData(); //(document.getElementById("newPerson"));
        let per_id = $('#per_id').val();
        let per_name = $('#per_name').val();
        let per_gender = $('#per_gender').val();
        let per_department = $('#per_department').val();
        let per_position = $('#per_position').val();
        let per_photo = inputPhoto.value;
        console.log(per_id, per_name, per_gender, per_photo);


        //数据检测
        try {
          if (!per_id) {
            throw new Error('缺少编号！');
          }
          if (!per_name) {
            throw new Error('缺少姓名！');
          }
          if (!per_gender) {
            throw new Error('缺少性别！');
          }
          if (!per_department) {
            throw new Error('缺少部门！');
          }
          if (!per_position) {
            throw new Error('缺少职位！');
          }
          if (!per_photo) {
            throw new Error('缺少照片！');
          }
        } catch (err) {
          console.log(err.message);
          layui.use('layer', function () {
            var layer = layui.layer;
            layer.msg(err.message);
          });
          return;
        }

        //写入数据
        formData.append('per_id', per_id);
        formData.append('per_name', per_name);
        formData.append('per_gender', per_gender);
        formData.append('per_department', per_department);
        formData.append('per_position', per_position);
        formData.append('baseImg', baseImg);
        // ajax异步发送表单
        let ajax = new XMLHttpRequest();

        ajax.open("post", location.href); // 设置路由
        ajax.send(formData); // 发送

        ajax.onreadystatechange = function () {
          if (ajax.readyState === 4 && ajax.status === 200) {
            //显示提示信息
            // console.log(ajax.responseText);
            // let submitFeedBack=JSON.parse(ajax.responseText);
            $('#alert').html("提示：" + ajax.responseText);
            layui.use('layer', function () {
              var layer = layui.layer;
              layer.msg(ajax.responseText);
            });
          }
        }
      }


      // @param {string} img 图片的base64
      // @param {int} dir exif获取的方向信息
      // @param {function} next 回调方法，返回校正方向后的base64
      function getImgData(img, dir, next) {
        var image = new Image();
        image.onload = function () {
          var degree = 0,
            drawWidth, drawHeight, width, height;
          drawWidth = this.naturalWidth;
          drawHeight = this.naturalHeight;
          //以下改变一下图片大小
          var maxSide = Math.max(drawWidth, drawHeight);
          if (maxSide > 1024) {
            var minSide = Math.min(drawWidth, drawHeight);
            minSide = minSide / maxSide * 1024;
            maxSide = 1024;
            if (drawWidth > drawHeight) {
              drawWidth = maxSide;
              drawHeight = minSide;
            } else {
              drawWidth = minSide;
              drawHeight = maxSide;
            }
          }
          var canvas = document.createElement('canvas');
          canvas.width = width = drawWidth;
          canvas.height = height = drawHeight;
          var context = canvas.getContext('2d');
          //判断图片方向，重置canvas大小，确定旋转角度，iphone默认的是home键在右方的横屏拍摄方式
          switch (dir) {
            //iphone横屏拍摄，此时home键在左侧
            case 3:
              degree = 180;
              drawWidth = -width;
              drawHeight = -height;
              break;
              //iphone竖屏拍摄，此时home键在下方(正常拿手机的方向)
            case 6:
              canvas.width = height;
              canvas.height = width;
              degree = 90;
              drawWidth = width;
              drawHeight = -height;
              break;
              //iphone竖屏拍摄，此时home键在上方
            case 8:
              canvas.width = height;
              canvas.height = width;
              degree = 270;
              drawWidth = -width;
              drawHeight = height;
              break;
          }
          //使用canvas旋转校正
          context.rotate(degree * Math.PI / 180);
          context.drawImage(this, 0, 0, drawWidth, drawHeight);
          //返回校正图片
          next(canvas.toDataURL("image/jpeg", .5));
        }
        image.src = img;
      }
    </script>
    <script src="/libs/layui/layui.all.js"></script>

    <%-include('footer')%>