<%-include('header')%>
<div class="row">
  <div class="layui-col-md6" style="font-size:20px;font-weight:700">新增奖项</div>
  <div class="layui-col-md6">
    <span class="layui-breadcrumb" style="float:right">
      <a href="">奖项管理</a>
      <a>
        <cite>新增奖项</cite>
      </a>
    </span>
  </div>
  <div class="layui-col-md10">
   <form class="layui-form" id="newprize" style="margin:20px" method="post" enctype="multipart/form-data">
    <blockquote class="layui-elem-quote">新增奖项</blockquote>
    <div class="layui-form-item">
      <label class="layui-form-label">年份</label>
      <div class="layui-input-block">
        <input class="layui-input" id="pri_year" name="pri_year" type="text" placeholder="year" />
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">奖项</label>
      <div class="layui-input-block">
        <input class="layui-input" id="pri_prize" name="pri_prize" type="text" placeholder="prize" />
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">奖项等级</label>
      <div class="layui-input-block">
        <input class="layui-input" id="pri_level" name="pri_level" type="text" placeholder="level" />
      </div>
    </div>
    <div class="layui-form-item">
      <div class="layui-input-block">
        <input class="layui-btn" id="submit" type="button" value="添加">
      </div>
    </div>
  </form>
</div>
</div>
<div class="layui-col-md10">
  <div style="margin:20px">
    <blockquote class="layui-elem-quote">所有奖项</blockquote>
    <table class="layui-table" >
      <colgroup>
        <col width="150">
        <col width="200">
        <col>
      </colgroup>
      <thead>
        <tr>
          <th>年份</th>
          <th>奖项</th>
          <th>奖项等级</th>
        </tr> 
      </thead>
      <%for(var i=0;i<prize.length;i++){%>
      <tbody>
        <tr>
          <th><%=prize[i].year%></th>
          <th><%=prize[i].item%></th>
          <th><%=prize[i].detail%></th>
        </tr> 
      </tbody>
      <%}%>
    </table>
  </div>
</div>

<script type="text/javascript" src="/libs/jquery/dist/jquery.min.js"></script>
<script src="/libs/layui/layui.all.js"></script>
<script type="text/javascript">
  $('#submit').click(function(){// 事件监听
    console.log('click',location);
    let formData=new FormData(document.getElementById("newprize"));
    console.log('formData1');
    // ajax异步发送表单
    let ajax=new XMLHttpRequest();

    ajax.open("post",location.origin+"/manage/addprize");// 设置路由
    ajax.send(formData);// 发送
  });
</script>
<%-include('footer')%>