<!DOCTYPE html>
<html>
<head>
	<title>展示平台</title>
	<link rel="stylesheet" href="/libs/slick-carousel/slick/slick.css"/>
	<link rel="stylesheet" href="/libs/slick-carousel/slick/slick-theme.css"/>
	<link rel="stylesheet" type="text/css" href="/css/show.css">
</head>
<body>
	<div class="show-background">
		<img src="/image/background.jpg" alt="">
		<!-- 		<img src="http://img.article.pchome.net/00/38/30/63/pic_lib/wm/chuangyi017.jpg" alt=""> -->
	</div>
	<div id="show-container">
		<div class="show-main">
			<a href="/show/desc_b?year=<%=year%>&desc_a=<%= desc_a%>">
				<div class="show-title">
					<h1>网安支队历年立功授奖情况</h1>
				</div>
			</a>
			<div class="show-content">
				<a href="/show">
					<div class="show-logo">
						<img src="/image/logo.png" alt="">
					</div>
				</a>
				<div class="show-show">
					<div class="slick-for">
						<%if(persons.length&&persons.length>15){%>
							<%for(var i=0;i<=parseInt(persons.length/15)&&!(parseInt(persons.length)%15==0&&i==parseInt(persons.length/15));i++){%>
							<div>
								<div  class="show-slick">
									<%for(var j=0;j<15;j++){%>
										<%if(persons[j+i*15]){%>
										<div class="show-item show-persons">
											<div class="show-iitem-line"></div>
											<div class="show-iitem">
												<a href='/show/person?per_id=<%=persons[j+i*15].per_id%>&year=<%=year%>&desc_a=<%=desc_a%>&desc_b=<%=desc_b%>'>
													<div class="show-iiitem">
														<p class="show-per-name"><%=persons[j+i*15].name%></p>
													</div>
												</a>
											</div>
											<div class="show-iitem-line"></div>
										</div>
										<%}else{%>
										<div class="show-item"></div>
										<%}%>
									<%}%>
								</div>
							</div>
							<%}%>
						<%}else{%>
							<div>
								<div  class="show-slick">
									<%for(var j=0;j<15;j++){%>
										<%if(persons[j]){%>
										<div class="show-item">
											<div class="show-iitem-line"></div>
											<div class="show-iitem">
												<a href='/show/person?per_id=<%=persons[j].per_id%>&year=<%=year%>&desc_a=<%=desc_a%>&desc_b=<%=desc_b%>'>
												<div class="show-iiitem">
													<p class="show-per-name"><%=persons[j].name%></p>
												</div>
												</a>
											</div>
											<div class="show-iitem-line"></div>
										</div>
										<%}else{%>
										<div class="show-item"></div>
										<%}%>
									<%}%>
								</div>
							</div>
						<%}%>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="/libs/layui/layui.all.js"></script>
	<script type="text/javascript" src="/libs/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="/libs/slick-carousel/slick/slick.min.js"></script>
	<script type="text/javascript" src="/javascripts/slickset.js"></script>
</body>
</html>