<!DOCTYPE html>
<html>
<head>
	<title>展示平台</title>
	<link rel="stylesheet" href="/libs/slick-carousel/slick/slick.css"/>
	<link rel="stylesheet" href="/libs/slick-carousel/slick/slick-theme.css"/>
	<link rel="stylesheet" type="text/css" href="/css/show.css">
</head>
<body>
	<div class="show-background">
		<img src="/image/background.jpg" alt="">
		<!-- 		<img src="http://img.article.pchome.net/00/38/30/63/pic_lib/wm/chuangyi017.jpg" alt=""> -->
	</div>
	<div id="show-container">
		<div class="show-main">
			<a href="/show">
				<div class="show-title">
					<h1>网安支队历年立功授奖情况</h1>
				</div>
			</a>
			<div class="show-content">
				<a href="/show">
					<div class="show-logo">
						<img src="/image/logo.png" alt="">
					</div>
				</a>
				<div class="show-show">
					<div class="slick-for">
						<%if(desc_a.length&&desc_a.length>15){%>
						<%for(var i=0;i<=parseInt(desc_a.length/15);i++){%>
						<div>
							<div  class="show-slick">
								<%for(var j=0;j<15;j++){%>
								<%if(desc_a[j+i*15]){%>
								<div class="show-item">
									<div class="show-iitem-line"></div>
									<div class="show-iitem">
										<a href='/show/desc_b?year=<%=year%>&desc_a=<%= desc_a[j+i*15].desc_a%>'>
											<div class="show-iiitem">
												<p class="show-desc_a"><%=desc_a[j+i*15].desc_a%></p>
											</div>
										</a>
									</div>
									<div class="show-iitem-line"></div>
								</div>
								<%}else{%>
								<div class="show-item"></div>
								<%}%>
								<%}%>
							</div>
						</div>
						<%}%>
						<%}else{%>
						<div>
							<div  class="show-slick">
								<%for(var j=0;j<15;j++){%>
								<%if(desc_a[j]){%>
								<div class="show-item">
									<div class="show-iitem-line"></div>
									<div class="show-iitem">
										<a href='/show/desc_b?year=<%=year%>&desc_a=<%= desc_a[j].desc_a%>'>
											<div class="show-iiitem">
												<p class="show-desc_a"><%=desc_a[j].desc_a%></p>
											</div>
										</a>
									</div>
									<div class="show-iitem-line"></div>
								</div>
								<%}else{%>
								<div class="show-item"></div>
								<%}%>
								<%}%>
							</div>
						</div>
						<%}%>
					</div>
					<%-include('show-footer')%>