<!DOCTYPE html>
<html>
<head>
	<title>展示平台</title>
	<link rel="stylesheet" href="/libs/slick-carousel/slick/slick.css"/>
	<link rel="stylesheet" href="/libs/slick-carousel/slick/slick-theme.css"/>
	<link rel="stylesheet" type="text/css" href="/css/show.css">
</head>
<body>
	<div class="show-background">
		<img src="/image/background.jpg" alt="">
		<!-- 		<img src="http://img.article.pchome.net/00/38/30/63/pic_lib/wm/chuangyi017.jpg" alt=""> -->
	</div>
	<div id="show-container">
		<div class="show-main">
			<a href="/show/persons?year=<%=year%>&desc_a=<%= desc_a%>&desc_b=<%= desc_b%>">
				<div class="show-person-title">
					<h1><%=person.name%></h1>
				</div>
			</a>
			
			<div class="show-content">
				<a href="/show">
				<div class="show-one-person">
					<img src="/image/headers/<%=person.photo%>" alt="">
				</div>
				<a>
				<div class="show-show">
							<div  class="show-person-slick">
								<ul>
									<li>
										<span class="part">性别
											<i class="depart"></i>
										</span> :
										<span style="font-family: 楷体">
											<%=person.gender%>
										</span>
									</li>
									<li>
										<span class="part">警员编号
											<i class="depart"></i>
										</span> :
										<span style="font-family: 楷体">
											<%=person.per_id%>
										</span>
									</li>
									<li>
										<span class="part">所属部门
											<i class="depart"></i>
										</span> :
										<span style="font-family: 楷体">
											<%=person.dept_name%>
										</span>
									</li>
									<li>
										<span class="part">职务
											<i class="depart"></i>
										</span> :
										<span style="font-family: 楷体">
											<%=person.job_name%>
										</span>
									</li>
									<li>
										<span class="part">曾获奖
											<i class="depart"></i>
										</span> :
									</li>
									<li>
										<div  class="show-slick">
										<%for(var j=0;j<prizes.length;j++){%>
											<%if(prizes[j]){%>
											<div class="show-item">
												<div class="show-iitem-line"></div>
												<div class="show-iitem">
													
													<div class="show-iiitem" style="font-size: 25px; line-height: 35px;">
														<p><%=prizes[j].year%>年<br/>
														<%=prizes[j].desc_a%><br/>
														<%=prizes[j].desc_b%></p>
													</div>
											
												</div>
												<div class="show-iitem-line"></div>
											</div>
											<%}%>
										<%}%>
									</div>
									</li>
								</ul>
							</div>
				</div>
			</div>
		</div>
	</div>
	<script src="/libs/layui/layui.all.js"></script>
	<script type="text/javascript" src="/libs/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="/libs/slick-carousel/slick/slick.min.js"></script>
</body>
</html>