<html>

<head>
    <title>奖项等级
    </title>
    <link rel="stylesheet" href="css/font-awesome.css">
    <style>
        a:link {
            text-decoration: none;
        }

        a:hover {
            text-decoration: none;
        }

        a:visited {
            text-decoration: none;
        }

        a:active {
            text-decoration: none;
        }

        .ziti {
            font-family: 隶书;
            color: white;
            text-align: center;
            font-size: 80px;
        }


        .zitib {
            font-family: 华文行楷;
            color: white;
            text-align: center;
            font-size: 80px;
        }

        .zitif {
            font-family: Arial, Helvetica, sans-serif;
            color: white;
            text-align: center;
            font-size: 25px;
        }

        .pziti {
            font-family: Arial, Helvetica, sans-serif;
            color: white;
            text-align: center;
            font-size: 45px;
            float: left;
        }

        .top {
            position: fixed;
            height: 15%;
            width: 100%;
            text-align: center;
        }

        .center {
            position: fixed;
            top: 45%;
            width: 100%;
            text-align: center;
        }
    </style>
</head>

<body style="background: url(/image/rblue.jpg)">
    <div style="text-align: right;">
        <div class="top">
            <a href="/back">
                <div>
                    <img src="/image/police.png" width="150px" height="150px">
                    <div class="zitib">网安支队历年立功授奖展示</div>
                </div>
            </a>
        </div>
        <div class="center">
            <%if(msg==0){%>
                <span class="zitib" style="text-align: center;">暂无获奖人员</span>
            <%}for(var i=0;i<prize.length;i++){%>
                <a href='persons?year=<%=year%>&item=<%= item%>&prize=<%= prize[i].detail%>'>
                    <span class="ziti"><%= prize[i].detail%>&nbsp&nbsp</span>
                </a>
            <%}%>
        </div>
        <div style="padding-right:5%;padding-top: 50%;">
            <a href="/item?year=<%=year%>">
                <i class="fa fa-chevron-circle-left" style="font-size:48px;color: white;"></i>
            </a>
        </div>
    </div>
</body>
</html>