<!DOCTYPE html>
<html>
<head>
	<title>展示平台</title>
	<link rel="stylesheet" href="/libs/slick-carousel/slick/slick.css"/>
	<link rel="stylesheet" href="/libs/slick-carousel/slick/slick-theme.css"/>
	<link rel="stylesheet" type="text/css" href="/css/show.css">
</head>
<body>
	<div class="show-background">
		<img src="/image/background.jpg" alt="">
		<!-- 		<img src="http://img.article.pchome.net/00/38/30/63/pic_lib/wm/chuangyi017.jpg" alt=""> -->
	</div>
	<div id="show-container">
		<div class="show-main">
			<a href="/show/prize?year=<%=year%>&item=<%= item%>">
				<div class="show-title">
					<h1>网安支队历年立功授奖情况</h1>
				</div>
			</a>
			<div class="show-content">
				<a href="/show">
					<div class="show-logo">
						<img src="/image/logo.png" alt="">
					</div>
				</a>
				<div class="show-show">
					<div class="slick-for">
						<%if(person.length&&person.length>15){%>
							<%for(var i=0;i<=parseInt(person.length/15);i++){%>
							<div>
								<div  class="show-slick">
									<%for(var j=0;j<15;j++){%>
										<%if(person[j+i*15]){%>
										<div class="show-item">
											<div class="show-iitem-line"></div>
											<div class="show-iitem">
												<a href='/show/person?id=<%=person[j+i*15].id%>&item=<%=item%>&year=<%=year%>&prize=<%=detail%>'>
													<div class="show-iiitem">
														<p><%=person[j+i*15].name%></p>
													</div>
												</a>
											</div>
											<div class="show-iitem-line"></div>
										</div>
										<%}else{%>
										<div class="show-item"></div>
										<%}%>
									<%}%>
								</div>
							</div>
							<%}%>
						<%}else{%>
							<div>
								<div  class="show-slick">
									<%for(var j=0;j<15;j++){%>
										<%if(person[j]){%>
										<div class="show-item">
											<div class="show-iitem-line"></div>
											<div class="show-iitem">
												<a href='/show/person?id=<%=person[j].id%>&item=<%=item%>&year=<%=year%>&prize=<%=detail%>'>
												<div class="show-iiitem">
													<p><%=person[j].name%></p>
												</div>
												</a>
											</div>
											<div class="show-iitem-line"></div>
										</div>
										<%}else{%>
										<div class="show-item"></div>
										<%}%>
									<%}%>
								</div>
							</div>
						<%}%>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="/libs/layui/layui.all.js"></script>
	<script type="text/javascript" src="/libs/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="/libs/slick-carousel/slick/slick.min.js"></script>
	<script type="text/javascript">
		//轮播图初始化
		$(document).ready(function(){
			$(function(){
				$('.slick-for').slick({
					autoplay:false,
					arrows: false,
					dots: true,
					// autoplaySpeed:1000,
					pauseOnHover:false
				});
			});	
		});
	</script>
</body>
</html>